<!DOCTYPE html>
<html lang="fr">

<head>

  <title>Mon A.I.de mémoire</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <main class="main-container">
    <header class="header">
      <h1 class="header-title">Mon A.I.de mémoire</h1>
    </header>
    <form method="POST" enctype=multipart/form-data action="/upload">
      <input type="file" name="file" style="margin-bottom: 10px;" />
      <input type="submit" value="Envoyer" />
    </form>
    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Je suis ton AIssistant de cours personnel ! Pose-moi une question sur
        le cours et je te répondrai.
      </div>
      {% for input in data %}
      <div class="message message-ai-old">
        {{ input['question']}}
      </div>
      <div class="message message-ai-old">
        {{ input['answer']}}
      </div>
      {% endfor %}
    </section>

    <form id="prompt-form" class="prompt-container">
      <label for="prompt" class="prompt-label">Message</label>

      <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" />

      <button type="submit" class="button" id="submit-button">Envoyer</button>

      <button type="button" class="button" id="question-button">
        Pose-moi une question !
      </button>
      <img src="static/images/moon.png" id="icon">

    </form>
    <script src=" {{ url_for('static', filename='prompt.js' ) }}"></script>

  </main>

  <script>
    var icon = document.getElementById("icon");

    icon.onclick = function () {
      document.body.classList.toggle("dark-theme");
      if (document.body.classList.contains("dark-theme")) {
        icon.src = "static/images/sun.png"
      } else { icon.src = "static/images/moon.png" }
    }
  </script>
</body>

</html>