<!DOCTYPE html>
<html lang="fr">

<head>

    <title>Mes QCM</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <main class="main-container">
        <header class="header">
            <h1 class="header-title">S'entraîner avec des QCM</h1>
        </header>

        <section id="messages-container" class="messages-container">
            <div class="message message-ai">
                Afin de t'aider à réviser ton cours, réponds à des QCM générés automatiquement !
                Combien de questions souhaites tu ?
            </div>
        </section>

        <form id="qcm-form" class="qcm-container">
            <input type="text" id="nbrQuestions" name="nbrQuestions" class="qcm-input" autocomplete="off" />

            <button type="submit" class="button" id="generate-button">Générer le QCM</button>
        </form>

        <section id="messages-container-loader" class="messages-container">
            <div id="loading" class="message message-ai">
                Génération du QCM en cours
            </div>
        </section>

        <section id="messages-container-loaded" class="messages-container">
            <div id="loading" class="message message-ai">
                Réponds maintenant aux questions !
            </div>
        </section>

        <form id="qcm-questions-form">
        </form>

        <form class="qcm-container">
            <button type="button" class="button" id="correct-button" onclick="correctQCM();">Corrige mon QCM !</button>
        </form>

        <script src="{{ url_for('static', filename='qcm.js') }}"></script>

</body>

</html>